* {
  transition: all 0.4s ease;
}

.img-center{
	background-position: center;
	background-size: cover;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #2c2c2c;
}

.sombra {
  -webkit-box-shadow: 2px 6px 23px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 6px 23px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 6px 23px 0px rgba(0, 0, 0, 0.75);
}

.custom-style-type{
	padding-left: 20px !important;
}

.custom-style-type li::before {
  content: "-. ";
  display: inline-block;
  font-weight: 700;
  position: absolute;
  margin-left: -20px;
}

.custom-style-type li {
  padding: 0.2em 0;
}

.cuadrado {
  width: 100%;
  height: 47%;
}

.fixy {
  margin-top: -40px !important;
}

#video-seleccionado {
  margin-top: 20px;
}

.btn-custom::after {
  content: " >";
  opacity: 0;
  margin-left: -8px;
}

.btn-custom:hover::after {
  margin: 0;
  opacity: 1;
}

.menu-ham {
  display: none;
}

p {
  font-size: 110;
  text-align: justify;
  line-height: 1.7;
}

.title {
  font-size: 42px;
  font-weight: 300;
}

.blacky {
  font-weight: 700;
}

ul li {
  font-size: 110%;
  padding: 0.5em 0;
}

.d-flex {
  display: flex;
  align-items: center;
}

.cont {
  width: 80%;
  max-width: 1024px;
  margin: auto;
}

.gridy {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fullh {
  height: 100vh;
}

input,
select,
textarea {
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  background: white;
  width: 100%;
  color: black;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}
input[type="submit"] {
  padding: 5px 0;
}

.entry-img {
  width: 100%;
  height: 480px;
}

.entry-title {
  font-size: 24px;
  padding: 2% 0;
  display: inline-block;
}

.single-cont {
  max-width: 720px;
  margin: auto;
}

.custom-style-type {
  list-style-type: none;
}

@media screen and (max-width: 500px) {
  .gridy {
    grid-template-columns: 1fr;
  }
}

.paddy {
  padding: 15%;
}

.paddy1 {
  padding: 9%;
}

.paddy h2 {
  font-size: 38px;
  margin: 0;
}

.text-center {
  text-align: center;
}

.logo-placeholder {
  height: 100px;
}

.main-header-custom {
  display: flex;
  justify-content: space-between;
}
/* 
.custom-navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.custom-navigation ul li a {
  font-size: 18px;
}

.menu-item {
  text-decoration: none;
  color: #2c2c2c;
  padding-right: 1em;
}

.menu-item:hover {
  text-decoration: underline;
} */

.custom-navigation ul li {
  font-size: 100%;
}
@media screen and (min-width: 1100px) {
  .custom-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  .macro-menu-img {
    height: 480px;
    width: 360px;
    background: #2e2858;
  }
  .sub-menu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
  }

  .img-sub-menu {
    width: 49%;
    float: right;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    background-image: url(../img/logos.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .img-sub-menu-01 {
    background: #2e2858;
  }

  .sub-menu li {
	min-width: 400px;
	  border-bottom: 1px solid #f0f0f0;
  }
	.sub-menu li:hover{
		background: #f0f0f0;
	}
	


  .sub-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .sub-menu a:hover {
  }

  .menu-item a:after {
    content: "";
    width: 0%;
    margin: auto;
    display: block;
    border: 1px solid rgba(46, 40, 88, 0);
    transition: 0.4s ease;
  }

  .menu-item a:hover:after {
    content: "";
    width: 100%;
    margin: auto;
    display: block;
    border: 1px solid #2e2858;
  }

  .menu-item:hover .sub-menu {
    display: block;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .custom-navigation li {
    float: left;
  }

  .sub-menu li {
    float: none;
  }

  li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
}
.btn-custom {
  color: white;
  background: #2e2858;
  font-family: Poppins;
  padding: 0.5em 1em;
  border-radius: 4px;
  text-decoration: none;
  font-size: 125%;
}

.btn-verde {
  background: green;
}

.btn-rojo {
  background: red;
}

.btn-custom:hover {
  background: rgb(21, 17, 44);
}

.second-bar-custom {
  color: white;
  background: #2c2c2c;
  text-align: right;
  display: flex;
  justify-content: space-between;
  padding: 3px 1em;
  margin-left: auto;
  width: 60%;
}

.header-cont {
  width: 100%;
  background: white;
  position: fixed;
  z-index: 88;
  top: 0;
  left: 0;
  transition: top 0.2s ease-in-out;
}

.nav-up {
  top: -200px;
}

.social-logo:hover {
  opacity: 0.4;
  transform: scale(1.1);
}

.play-cont {
  font-size: 19px;
  opacity: 0.8;
}

.play-cont:hover {
  opacity: 1;
  cursor: pointer;
  background: #dbdbdb;
}

.play-cont img {
  margin-right: 8px;
}

.btn-especial-cont {
  width: 350px;
  margin: auto;
}

.btn-especial {
  font-size: 22px;
  cursor: pointer;
}

.btn-especial::after {
  content: " ";
  width: 25%;
  border-bottom: #2e2858 2px solid;
  display: block;
  transition: 0.4s ease;
}

.btn-especial:hover::after {
  width: 100%;
  transition: 0.4s ease;
}

.slider-clientes {
  padding: 5% 0;
  display: grid;
  grid-template-columns: 0.01fr 1fr 0.01fr;
}

.slider-clientes div {
  margin: 0 1em;
}

.footer {
  min-height: 250px;
  background: #141414;
  color: #c2c2c2 !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 10%;
  margin: auto;
  text-align: left;
}

.footer div {
  padding: 5%;
}

.footer p {
  font-size: 14px;
  text-align: left;
}
.footer a {
  color: #c2c2c2 !important;
}

.footer a:hover {
  color: #2e2858 !important;
}
.product-head {
  background-color: #2e2858;
  margin-top: -50px;
  height: 95vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
}

.product-head img {
  padding-top: 5%;
}

.product-head .title {
  margin: 0;
  color: white;
  padding-left: 10%;
}

.product-head p {
  padding-bottom: 2em;
  color: white;
  padding-left: 10%;
  width: 70%;
}

.margin-L {
  margin-left: 10%;
}

.margin-XL {
  margin-left: 25%;
}

.caracteristicasdetalladas {
  padding: 0.5em !important;
  background: #c2c2c2;
  width: 75%;
}

.fixitipy li {
  margin: 0.5em 0;
}

.slick-arrow {
  background: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.slick-arrow:hover {
  background: #e4e4e4;
}

.logocliente:hover {
  filter: grayscale(0) !important;
}

.quienes-somos-cont {
  display: block;
  width: 80%;
  margin: auto;
  max-width: 1024px;
  justify-items: center;
}

@media screen and (max-width: 550px) {
  .quienes-somos-cont {
    display: block;
  }
  #video-seleccionado {
    margin-top: 20px;
    width: 100%;
    box-shadow: none;
  }
}

.fas,
.far {
  font-size: 50px;
}

.valores-ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
  padding: 0;
}

.valores-ul li {
  list-style: none;
  padding: 0.4em;
  padding-left: 0;
  margin: 0;
}

.servicios-cont {
  width: 80%;
  max-width: 1024px;
  margin: auto;
  padding: 10% 0;
  padding-bottom: 0;
}

.servicios-cont-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
}

.servicios-item {
  min-height: 420px;
  padding: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.clientes-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.clientes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.clientes-container div {
  margin: 1.5em;
}
.custom-navigation-m {
  display: none;
}

@media screen and (max-width: 500px) {
  .servicios-cont-grid {
    display: block;
  }

  .servicios-item {
    min-height: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .servicios-cont {
    width: 90%;
    max-width: 1024px;
    margin: auto;
    padding: 0;
  }

  .servicios-item ul {
    padding: 0 !important;
    padding-left: 5%;
    margin: 0 5%;
  }
  p {
    font-size: 14px !important;
  }
}

.bg-blue,
.bg-blue a {
  background: #2e2858;
  color: white;
}

.bg-gris {
  background: #dbdbdb;
}

@media screen and (max-width: 1159px) {
  .custom-navigation,
  .second-bar-custom {
    display: none;
  }
  .custom-navigation-m {
    position: fixed;
    background: white;
    width: 100%;
    height: 100vh;
    top: -200%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }
  .custom-navigation-m ul {
    list-style-type: none;
  }

  .paddy {
    padding: 15% 5%;
    text-align: center;
  }
  .paddy p {
    text-align: center;
  }
  .grid-img-bg {
    height: 500px;
  }
  .menu-ham {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
  }
  .footer {
    display: block;
  }
  .title {
    font-size: 200%;
  }
  .m-out {
    display: none;
  }
  .menu-ham {
    padding-left: 10%;
  }
  .menu-ham .fas {
    font-size: 33px;
  }
}
