* {
  transition: all 0.4s ease;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #2c2c2c;
}

p {
  font-size: 110;
  text-align: justify;
  line-height: 1.7;
}

.title {
  font-size: 42px;
  font-weight: 300;
}

.blacky {
  font-weight: 700;
}

ul li {
  font-size: 110%;
  padding: 0.5em 0;
}

.d-flex {
  display: flex;
  align-items: center;
}

.cont {
  width: 80%;
  max-width: 1024px;
  margin: auto;
}

.gridy {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 500px) {
  .gridy {
    grid-template-columns: 1fr;
  }
}

.paddy {
  padding: 15%;
}

.paddy1 {
  padding: 9%;
}

.paddy h2 {
  font-size: 38px;
  margin: 0;
}

.text-center {
  text-align: center;
}

.logo-placeholder {
  height: 100px;
}

.main-header-custom {
  display: flex;
  justify-content: space-between;
}

.custom-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-header-custom {
  text-decoration: none;
  color: #2c2c2c;
  padding-right: 3em;
}

.item-header-custom:hover {
  text-decoration: underline;
}

.btn-custom {
  color: white;
  background: #2e2858;
  font-family: Poppins;
  padding: 0.5em 1em;
  border-radius: 4px;
  text-decoration: none;
  font-size: 125%;
}

.btn-verde {
  background: green;
}

.btn-rojo {
  background: red;
}

.btn-custom:hover {
  background: rgb(21, 17, 44);
}

.second-bar-custom {
  color: white;
  background: #2c2c2c;
  text-align: right;
  display: flex;
  justify-content: space-between;
  padding: 3px 1em;
  margin-left: auto;
  width: 60%;
}

.header-cont {
  width: 100%;
  background: white;
}

.social-logo:hover {
  opacity: 0.4;
  transform: scale(1.1);
}

.play-cont {
  font-size: 19px;
  opacity: 0.8;
}

.play-cont:hover {
  opacity: 1;
}

.play-cont img {
  margin-right: 8px;
}

.btn-especial-cont {
  width: 350px;
  margin: auto;
}

.btn-especial {
  font-size: 22px;
  cursor: pointer;
}

.btn-especial::after {
  content: " ";
  width: 65%;
  border-bottom: #2e2858 2px solid;
  display: block;
}

.btn-especial:hover::after {
  width: 100%;
}

.slider-clientes {
  padding: 5% 0;
  display: grid;
  grid-template-columns: 0.01fr 1fr 0.01fr;
}

.slider-clientes div {
  margin: 0 1em;
}

.footer {
  min-height: 250px;
  background: #141414;
  color: #c2c2c2 !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 10%;
  margin: auto;
  text-align: left;
}

.footer div {
  padding: 5%;
}

.footer p {
  font-size: 14px;
  text-align: left;
}
.product-head {
  background-color: #2e2858;
  margin-top: -50px;
  height: 95vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
}

.product-head img {
  padding-top: 5%;
}

.product-head .title {
  margin: 0;
  color: white;
  padding-left: 10%;
}

.product-head p {
  padding-bottom: 2em;
  color: white;
  padding-left: 10%;
  width: 70%;
}

.margin-L {
  margin-left: 10%;
}

.margin-XL {
  margin-left: 25%;
}

.caracteristicasdetalladas {
  padding: 0.5em !important;
  background: #c2c2c2;
  width: 75%;
}

.fixitipy li {
  margin: 0.5em 0;
}

.slick-arrow {
  background: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.slick-arrow:hover {
  background: #e4e4e4;
}

.logocliente:hover {
  filter: grayscale(0) !important;
}

.quienes-somos-cont {
  display: block;
  width: 80%;
  margin: auto;
  max-width: 1024px;
  justify-items: center;
}

@media screen and (max-width: 550px) {
  .quienes-somos-cont {
    display: block;
  }
}

.fas,
.far {
  font-size: 50px;
}

.valores-ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
  padding: 0;
}

.valores-ul li {
  list-style: none;
  padding: 0.4em;
  padding-left: 0;
  margin: 0;
}

.servicios-cont {
  width: 80%;
  max-width: 1024px;
  margin: auto;
  padding: 10% 0;
  padding-bottom: 0;
}

.servicios-cont-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
}

.servicios-item {
  min-height: 420px;
  padding: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.clientes-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.clientes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.clientes-container div {
  margin: 1.5em;
}

@media screen and (max-width: 500px) {
  .servicios-cont-grid {
    display: block;
  }

  .servicios-item {
    min-height: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .servicios-cont {
    width: 90%;
    max-width: 1024px;
    margin: auto;
    padding: 0;
  }

  .servicios-item ul {
    padding: 0 !important;
    padding-left: 5%;
    margin: 0 5%;
  }
}

.bg-blue,
.bg-blue a {
  background: #2e2858;
  color: white;
}
